{% block header %}
    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{{ path('jlp_admin_homepage') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>JLP</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>JLP-IMMO</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{app.user.username}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <p>
                                    {{app.user.username}}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ path("fos_user_profile_show") }}" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock header %}
{% block sidebar %}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Administration</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="{{ path("jlp_admin_homepage") }}"><i class="fa fa-pie-chart"></i> <span>Accueil</span></a></li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-laptop"></i> <span>Parametrages</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path("jlp_admin_param") }}">Généraux</a></li>
                        <li><a href="{{ path("jlp_admin_param_accueil") }}">Page d'accueil</a></li>
                        <li><a href="{{ path("jlp_admin_param_contact") }}">Page de contact</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-university"></i> <span>Programme neufs</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path("jlp_admin_prgneufs") }}">Liste des programmes</a></li>
                        <li><a href="{{ path("jlp_admin_prgneufs_add") }}">Ajouter un programme neuf</a></li>
                    </ul>
                </li>
                <li><a href="{{ path("jlp_admin_passerelle") }}"><i class="fa fa-exchange"></i> <span>Passerelle</span></a></li>
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock sidebar %}
